
body{
    font-size: 20px;
    font-family: verdana(sans serif);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#45B69C;
}
.contenu{
    width: 80%;
    height: auto;
    background-color:aqua;
    margin: auto;
    display: flex;
    
}
.contenu .gauche{
    width: 30%;
    height: auto;
    background-color:#2274A5;
    padding-top: 20px;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
.gauche .img{
    margin: auto;
    width: 100px;
    justify-content: center;
}
.gauche img{
    width: 100px;
    height: 100px;
    border-radius: 5px 5px;
}
.multimedia{
    width: 90%;
    margin: auto;
    justify-content: center;
}
.multimedia .video-1,.audio-1{
    width: 100%;
}
.contenu .form{
    display: flex;
    margin-top: 50px;
    width: 100%;
    padding-right: 50px;
    justify-content: center;
}

.contenu .droite{
    width: 70%;
    background-color:#EDE100; 
    padding-bottom: 50px;
}
.contenu .droite .form-gauche,.form-droite{
    width: 40%;
}
.droite h1{
    text-align: center;
    color: #275e7e;
}
.droite p{
    width: 80%;
    margin: auto;
}
.contenu .droite .form input{
    margin-bottom: 10px;
    margin-top: 5px;
    border: solid 2px black;
    border-radius: 2px;
    
}
label{
    color: #275e7e;
    font-weight: bold;
}
.sexe{
    color: black;
    font-weight: normal;
}
.input{
    width: 60%;
    height: 25px;
}
.lahy{
    margin-top: 10px;
    margin-bottom: 10px;
}
select{
    height: 30px;
}
.entrer{
    margin-left: 70px;
    height:30px ;
}
 