
body{
    margin: 0;
    height: 100vh;
    font-size: 20px;
    font-family: verdana(sans serif);
    background-color:#45B69C;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenu{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 0;
    background-color:aqua;
    display: flex;
    
}
.contenu .gauche{
    width: 30%;
    height: auto;
    color: white;
    background-color:#2274A5;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.gauche .img{
    width: 100px;
    margin: auto;
    justify-content: center;
}
.gauche img{
    width: 100px;
    height: 100px;
    border-radius: 5px 5px;
}
.multimedia{
    width: 90%;
    margin: auto;
    justify-content: center;
}
.multimedia .video-1,.audio-1{
    width: 100%;
}
.contenu .form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-right: 50px;
}

.contenu .droite{
    width: 70%;
    background-color:#EDE100; 
    padding-bottom: 50px;
}
.contenu .droite .form-gauche,.form-droite{
    width: 40%;
}
.droite h1{
    color: #275e7e;
    text-align: center;
}
.droite p{
    width: 80%;
    margin: auto;
}
.contenu .droite .form input{
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}
label{
    color: #275e7e;
    font-weight: bold;
}
.sexe{
    color: black;
    font-weight: normal;
    margin-bottom: 5px;    
}
.input{
    width: 80%;
    height: 30px;
    
}
select{
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 1px 2px;
}
.entrer{
    width:50%;
    height: 30px;
    background-color:#2274A5;
}
